:root {
  --clr-primary: #f07575;
  --clr-neutral: #f9f9f9;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
  background-image: url("../images/sakura_branch.jpg"); 
  background-color: #333;
  background-blend-mode: multiply;
  background-position:right top;
  background-repeat: no-repeat;
  z-index: -1;

}
h1,
h2,
p {
  margin: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-direction: column;
  color: var(--clr-neutral);
  text-shadow: 1px 1px var(--clr-primary); 
  animation: drop 1s ease forwards;
 }

header {
  /*margin-top: 25rem; */
  margin-top: -5rem; 
  font-style: oblique;
}

@keyframes drop{
  0% {}
  70% {transform: translateY(35rem)}
  100% {transform: translateY(30rem)}
}

.buttons {
  display: flex;
  gap: 2rem;
}

input {
  padding: 2rem;
  /*border: none; */
  border-radius: 10px;
  color: var(--clr-neutral);
  text-shadow: 1px 1px black;
  font-weight: 600;
  font-size: 2em;
  font-family: "Karla", sans-serif;
  background-color: var(--clr-primary);
  cursor: pointer;
  box-shadow: 5px 5px #888888;
} 

input:hover {
  background-color: #f0c8d6;
}
