:root {
  --clr-game-primary: steelblue;
  --clr-game-secondary: #f07575;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
p {
  margin: 0;
}

/* Typography */
.target-char {
  color: var(--clr-game-secondary);
}

/* Layout */
.game-page {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  color: var(--clr-game-primary);
  gap: 4rem;
  min-height: 100vh;
}

.game-header {
  margin-top: 5rem;
  background-color: lightgrey;
  width: 100%;
  text-align: center;
}

.game-input {
  padding: 0.5rem;
  border-radius: 10px;
  box-shadow: 5px 5px rgba(0, 0, 0, 30%);
  border: none;
  background-color: #e6e6e6;
}

/* What is this for? */
.input:not(.answer-input):hover,
input:focus {
  outline: 2px solid var(--clr-game-secondary);
}

/* This is used by both Playground and  Finish pages */
.total-score {
  color: var(--clr-game-secondary);
}
