<!DOCTYPE html>
<!-- Template definitions, TODO: Separate this into other files -->
{{ define "template-playground" }}
  <div class="target-char">
      <h1>{{.Character}}</h1>
  </div>

  <form action="/game" method="POST">
    <input type="text" name="answer">
    <button hidden="hidden">Submit</button>
  </form>
  
  <h2>Current score: <span class="total-score">{{.CurrentPlayerScore}}</span></h2>
  
  <h3>{{.ResultMessage}}<span class="correct-answer">{{.CorrectAnswer}}</span></h3>
 
  <form action="/game" method="POST">
    <input type="text" value="true" name="isFinished" hidden="hidden">
    <input class="finish-button" type="submit" value="Finish">
  </form>
{{end}}

{{ define "template-finish" }}
  <h2>The game is finished. Your total score is: <span class="total-score">{{.CurrentPlayerScore}}</span></h2>

  <!-- TODO: This properly goes back to the main page, but we need to somehow reset all the data that was saved during the previous session so that we can start over-->
  <input class="go-back-button" type=button onClick="parent.location='/'" value='Go back to the Main Page'>

  <h2>If you want to save your result, type in your username:</h2> 
  <form action="/game" method="POST">
    <input type="text" name="username">
  </form>
{{ end }}


<!-- TODO: Top10: We need to add if index > 10 break and then print only the current user results -->
{{ define "template-scoreboard"}}
  <h1>Scoreboard</h1>
  <h2>Your rank is: <span class="player-rank">{{.CurrentPlayerRank}}</span></h2>
  <table>
    <thead>
      <tr>
        <th>Rank</th>
        <th>Username</th>
        <th>Score</th>
      </tr>
    </thead>
    <tbody>
      {{ range $index, $element := .Scoreboard }}
      {{ if eq $element.ID $.CurrentPlayerStringID }} 
      <!-- $.CurrentPlayerID because range goes into the Scoreboard and we use $ like .. in terminal to go up one level-->
            <tr class="active-row">
              <!--<td>{{ inc $index }}</td> <!-- FIXME: Index shouldn't go back from 1 on pages other than the first one -->
              <td>{{ $element.Rank }}</td>
              <td>{{ $element.Username }}</td>
              <td>{{ $element.Score }}</td>
          </tr>
        {{ else }}
          <tr>
            <td>{{ $element.Rank }}</td> 
            <td>{{ $element.Username }}</td>
            <td>{{ $element.Score }}</td>
          </tr>
        {{ end }}
      {{ end }}
    </tbody>

    <!-- FIXME: Make this actually be under the table somehow -->
    {{ if ne .CurrentPage 0 }} <!-- Previous page button is not needed on the first page -->
    <div class="paginationButtons">
      <form action="/game" method="POST">
        <input type="text" value="true" name="isPreviousPageClicked" hidden="hidden">  
        <input class="previouspage-button" type="submit" value="Previous Page">
      </form>
    {{ end }}
    <!-- TODO: CSS breaks when only Previous button is displayed -->
    {{ if lt (inc .CurrentPage) .NumOfPages }} <!-- FIXME: There has to be a better way, i inc this because it has to start from 0 or it won't showthe first page-->
      <form action="/game" method="POST">
        <input type="text" value="true" name="isNextPageClicked" hidden="hidden">  
        <input class="nextpage-button" type="submit" value="Next Page">
      </form>
    </div>
    {{ end }} 
    <h3>Page {{ inc .CurrentPage }}</h3>
{{ end }}

<html lang="en">
  <head>
    <title>Game</title>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@400;600&display=swap" rel="stylesheet"> 
    <link href="/static/stylesheets/style_game.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <header>
        <h1>{{.PageTitle}}</h1>
      </header>

      {{ if eq .IsFinished "false" }}
        {{ template "template-playground" . }}
      {{ else if eq .DisplayScoreboard "false" }}
        {{ template "template-finish" . }} 
      {{ else }}
        {{ template "template-scoreboard" . }}
      {{ end }}
      
    </div>
  </body>
</html>
