<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Game</title>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@400;600&display=swap" rel="stylesheet"> 
    <link href="/static/stylesheets/style_game.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <header>
        <h1>{{.PageTitle}}</h1>
      </header>
      <div class="target-char">
        <h1>{{.Character}}</h1>
      </div>

      <form action="/game" method="POST">
        <input type="text" name="answer">
        <button>Submit</button>
      </form>

      <h3>{{.Result}}<span class="correct-answer">{{.CorrectAnswer}}</span></h3>

      <form action="/game" method="POST">
        <input type="text" value="true" name="finish-value" hidden="hidden">
        <button>Finish</button>
      </form>
    </div>
  </body>
</html>
