<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Game</title>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@400;600&display=swap" rel="stylesheet"> 
    <link href="/static/stylesheets/style_game.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <header>
        <h1>{{.PageTitle}}</h1>
      </header>

      {{ if eq .IsFinished "false"}}
        <div class="target-char">
          <h1>{{.Character}}</h1>
        </div>

        <form action="/game" method="POST">
          <input type="text" name="answer">
          <button hidden="hidden">Submit</button>
        </form>
        
        <h3>{{.ResultMessage}}<span class="correct-answer">{{.CorrectAnswer}}</span></h3>
        <form action="/game" method="POST">
          <input type="text" value="true" name="finish-value" hidden="hidden">
          <input class="finish-button" type="submit" value="Finish">
        </form>
      {{ else }}
      <h2>The game is finished. Your total score is: <span class="total-score">{{.TotalScore}}</span></h2>

      <!-- TODO: This properly goes back to the main page, but we need to somehow reset all the data that was saved during the previous session so that we can start over-->
      <input class="go-back-button" type=button onClick="parent.location='/'" value='Go back to the Main Page'>
      

      <h2>If you want to save your result, type in your username:</h2> 
      <form action="/game" method="POST">
        <input type="text" name="username">
      </form>
      {{ end }}
            </div>
  </body>
</html>
