<!DOCTYPE html>
<!-- Template definitions, TODO: Separate this into other files -->
{{ define "template-playground" }}
  <div class="target-char">
      <h1>{{.Character}}</h1>
  </div>

  <form action="/game" method="POST">
    <input class="answerInput" type="text" name="answer" autofocus>
    <button hidden="hidden">Submit</button>
  </form>
  
  <div class="resultInfo">
    <h2>Current score: <span class="total-score">{{.CurrentPlayerScore}}</span></h2>
    <h3 class="resultMessage">{{.ResultMessage}}<span class="correct-answer">{{.CorrectAnswer}}</span></h3>
  </div>

  <form action="/game" method="POST">
    <input type="text" value="true" name="isFinished" hidden="hidden">
    <input class="finish-button" type="submit" value="Finish">
  </form>
{{end}}

{{ define "template-finish" }}
  <h2>The game is finished. Your total score is: <span class="total-score">{{.CurrentPlayerScore}}</span></h2>

  <form id="playAgainForm" action="/game" method="POST">
    <input type="text" value="true" name="isPlayAgainTrue" hidden="hidden">
    <input class="go-back-button" type="submit" value="Play Again"> 
  </form>

  <h2>If you want to save your result, type in your username:</h2> 
<form id="usernameForm" action="/game" method="POST"> 
    <input type="text" name="username">
  </form>
{{ end }}


{{ define "template-scoreboard"}}
  <h1>Scoreboard</h1>
  <h2>Your rank is: <span class="player-rank">{{.CurrentPlayerRank}}</span></h2>
  <table>
    <thead>
      <tr>
        <th>Rank</th>
        <th>Username</th>
        <th>Score</th>
      </tr>
    </thead>
    <tbody>
      {{ range $index, $element := .Scoreboard }}
      {{ if eq $element.ID $.CurrentPlayerStringID }} 
    <!-- $.CurrentPlayerID because range goes into the Scoreboard and we use $ like ".." in linux terminal to go up one level --> 
            <tr class="active-row">
              <td>{{ $element.Rank }}</td>
              <td>{{ $element.Username }}</td>
              <td>{{ $element.Score }}</td>
          </tr>
        {{ else }}
          <tr>
            <td>{{ $element.Rank }}</td> 
            <td>{{ $element.Username }}</td>
            <td>{{ $element.Score }}</td>
          </tr>
        {{ end }}
      {{ end }}
    </tbody>

  <!-- The table closing tag was missing-->
    </table>
    <!-- FIXME: Make this actually be under the table somehow -->
    {{ if ne .CurrentPage 0 }} <!-- Previous page button is not needed on the first page -->
    <div class="paginationButtons">
      <form action="/game" method="POST">
        <input type="text" value="true" name="isPreviousPageClicked" hidden="hidden">  
        <input class="previouspage-button" type="submit" value="Previous Page">
      </form>
    {{ end }}

    <!-- FIXME: There has to be a better way, i inc this because it has to start from 0 or it won't showthe first page -->
    {{ if lt (inc .CurrentPage) .NumOfPages }} 
      <form action="/game" method="POST">
        <input type="text" value="true" name="isNextPageClicked" hidden="hidden">  
        <input class="nextpage-button" type="submit" value="Next Page">
      </form>
    </div>
    {{ end }} 
    <h3>Page {{ inc .CurrentPage }}</h3>
{{ end }}




<html lang="en">
  <head>
    <title>Game</title>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@400;600&display=swap" rel="stylesheet"> 
    <link href="/static/stylesheets/style_game.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <header>
        <h1>{{.PageTitle}}</h1>
      </header>

      {{ if eq .IsFinished "false" }}
        {{ template "template-playground" . }}
      {{ else if eq .DisplayScoreboard "false" }}
        {{ template "template-finish" . }} 
      {{ else }}
        <!-- We enter here after the username is provided -->
          {{ if eq .IsUsernameValid "true" }}
            <!-- <p>Username is valid!!!! </p> -->
            {{ template "template-scoreboard" . }}
          {{ else }}
            <!-- FIXME: For some reason, we never enter here, even though we can enter the if above. -->
          <p color="red">The username you entered already exists, please choose another one.</p>
            {{ template "template-finish" .}}
          {{ end }} 
      {{ end }}
      
    </div>
  </body>
</html>
